BOT_TOKEN="YOUR_TELEGRAM_BOT_TOKEN_HERE"
CHAT_ID="YOUR_TELEGRAM_CHAT_ID_HERE"

ALLOWED_USERNAMES="user1,user2"
TRACKERS_DIR="/mnt/data/trackers"

TRANSMISSION_HOST="127.0.0.1"
TRANSMISSION_PORT="9091"
TRANSMISSION_USERNAME="your-transmission-username"
TRANSMISSION_PASSWORD="your-transmission-password"

DOWNLOADED_DIR="/mnt/data/downloaded"
WEB_UI_URL="https://your-hostname-or-ip/transmission/web/"
CERT_FILE_PATH="/mnt/data/certs/caddy-local-root.crt"
